<h1>About this Employee...</h1>

<ul>
  <li>Name: <%= @employee.name() %></li>
  <li>Division: <%= @employee.division().name() if @employee.division() %></li>
  <li>Projects:</li>
</ul>

<a href="/employees/<%= @employee.id() %>/edit">Edit <%= @employee.name() %>'s Information</a>

<a href="/">Return Home</a>
